flowsnew.json
[
    {
        "id": "a0e50e073498df3f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ba46d75475f8372",
        "type": "inject",
        "z": "a0e50e073498df3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "str",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "f61b606eca03c6ea",
                "544856b9b2cada9c"
            ]
        ]
    },
    {
        "id": "f61b606eca03c6ea",
        "type": "debug",
        "z": "a0e50e073498df3f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "544856b9b2cada9c",
        "type": "debug",
        "z": "a0e50e073498df3f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "5cb0acc61738a6a7",
        "type": "function",
        "z": "a0e50e073498df3f",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4426b9cbc4e47fe6",
        "type": "complete",
        "z": "a0e50e073498df3f",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 490,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ddca41554e269301",
        "type": "complete",
        "z": "a0e50e073498df3f",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "5e32b94767cfebe2"
            ]
        ]
    },
    {
        "id": "81eaad7ad251928b",
        "type": "inject",
        "z": "a0e50e073498df3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5e32b94767cfebe2",
        "type": "gate",
        "z": "a0e50e073498df3f",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f67c25e7974a1e2b",
        "type": "inject",
        "z": "a0e50e073498df3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    }
]