flowsnew.json
[
    {
        "id": "a0e50e073498df3f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ba46d75475f8372",
        "type": "inject",
        "z": "a0e50e073498df3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "str",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "f61b606eca03c6ea",
                "544856b9b2cada9c"
            ]
        ]
    },
    {
        "id": "f61b606eca03c6ea",
        "type": "debug",
        "z": "a0e50e073498df3f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "544856b9b2cada9c",
        "type": "debug",
        "z": "a0e50e073498df3f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 300,
        "wires": []
    }
]